# Manage in white list format

### all ignore ###
/*
/.**

### not ignore ###

!/.bash_profile
!/.bashrc
!/.gitconfig
!/git-completion.bash
!/git-prompt.sh
!/check_update_dotfiles.sh

!/README.md
!/LICENSE
!.gitignore
!.gitkeep
!.github
!.github/workflows
!.github/workflows/*.yaml

!/install.sh
