[user]
name = moz-sec
email = m0253c@gmail.com
	signingkey = BB1B02C3D6A047FB89E6D75A8542E22C763AD624

[alias]
# view today's change diffs
today-numstat = !"f(){ \
    git log \
    --numstat \
    --branches \
    --no-merges \
    --since=midnight \
    --author=\"$(git config user.name)\" \
    | awk 'NF==3 {a+=$1; d+=$2} END { \
      printf(\"%d (\\x1b[32m+%d\\033[m, \\x1b[31m-%d\\033[m)\\n\", a+d, a, d)\
    }'; \
  };f"
rep = "!func () { git grep -z -l \"$1\" | xargs -0 sed -i \"s/$1/$2/g\"; }; func"

[commit]
gpgsign = true

[init]
defaultBranch = main
[tag]
	gpgSign = true
